.cartBox{
  padding-top: .8rem;
  width: 100%;
  background: #f0fae6;
  .point{
    width: 100%;
    line-height: .8rem;
    a{
      display: inline-block;
      width: 1.2rem;
      height: .5rem;
      line-height: .5rem;
      text-align: center;
      border: .01rem solid #89be48;
      margin: 0 .2rem .25rem .2rem;
    }
    span{
      font-size: .25rem;
    }
  }
}