.homeBox {
  .tabBox {
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    ul {
      height: .7rem;
      padding-top: .7rem;
      li {
        float: left;
        margin-right: .15rem;
        a {

        }
      }
    }
  }
  .bannerBox {
    margin-top: .77rem;
    width: 100%;
    height: 3rem;
    background: #4a4a4a;
    .ant-carousel .slick-slide {
      text-align: center;
      height: 100%;
      line-height: 3rem;
      background: #364d79;
      overflow: hidden;
    }
  }
}