.homeBox {
  background: #fff;
  .tabBox {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    ul {
      height: .7rem;
      padding-top: .7rem;
      li {
        float: left;
        margin-right: .20rem;
        &:nth-last-child(1){
          margin-right: 0;
        }
        a {
          font-size: .25rem;
          color: #4a4a4a;
          &.active{
            color: #3aad36;
          }
        }
      }
    }
  }
  .bannerBox {
    margin-top: .77rem;
    width: 100%;
    height: 5rem;
    background: #4a4a4a;
    a{
      display: block;
      width: 100%;
      height: 5rem;
    }
    .ant-carousel .slick-slide {
      text-align: center;
      width: 100%;
      height: 5rem;

      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .containerBox{
    width: 100%;
    height: 3rem;
    .hotSell{
      margin-top: .3rem;
      padding: .2rem;
      background: #fff;
      h3{
        line-height: .3rem;
        font-size: .45rem;
        text-align: center;
      }
      ul{
        display: flex;
        li{
          float: left;
          padding: .15rem;
          width: 25%;
          height: 2rem;
          text-align: center;
          a{
            display: block;
            width: 100%;
            height: 2rem;
            color: #585858;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
            p{
              line-height: .3rem;
              font-size: .2rem;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

        }
      }
    }
    .member{
      margin-top: .2rem;
      padding: .2rem;
      width: 100%;
      height: 3rem;
      background: #fff;
      a{
        display: block;
        width: 100%;
        height: 3rem;
        color: #585858;
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .newProducts,.recommend{
      margin-top: .3rem;
      width: 100%;
      background: #fff;
      .title{
        width: 100%;
        height: 1.5rem;
        margin-bottom: -.4rem;
        h3{
          font-size: .45rem;
          text-align: center;
        }
        p{
          margin-top: -.2rem;
          font-size: .25rem;
          text-align: center;
        }
      }
      .commodity{
        width: 100%;
        ul{
          width: 100%;
          li{
            float: left;
            margin-bottom: .8rem;
            padding: .1rem;
            height: 2.5rem;
            width: 33%;
            text-align: center;
            a{
              display: block;
              width: 100%;
              height: 2.5rem;
              color: #585858;
              img{
                display: block;
                width: 100%;
                height: 100%;
              }
              p{
                height: .4rem;
                font-size: .2rem;
                line-height: .4rem;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              span{
                display: block;
                font-size: .3rem;
                color: red;
                text-align: center;
                line-height: .2rem;
              }
            }

          }
        }
      }
    }
    .Activities{
      margin-top: .3rem;
      width: 100%;
      background: #fff;
      .title{
        width: 100%;
        height: 1.5rem;
        margin-bottom: -.4rem;
        h3{
          font-size: .45rem;
          text-align: center;
        }
        p{
          margin-top: -.2rem;
          font-size: .25rem;
          text-align: center;
        }
      }
      ul{
        li{
          margin-top: .1rem;
          width: 100%;
          height: 3rem;
          a{
            display: block;
            width: 100%;
            height: 3rem;
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

  }
}