.searchBox{
  padding-top: .7rem;
  background: #eee;
  .searchNav{
    position: fixed;
    top: .7rem;
    width: 100%;
    font-size: .3rem;
    background: #fff;
    height: .85rem;
    a{
      color: #000;
      float: left;
      margin:.15rem .32rem 0;
      padding:.05rem .3rem;
      border-radius: .4rem;
      &.active{
        background: #89be48;
        color: #fff;
      }
    }
  }
  h3{
    text-align: center;
    font-size: .36rem;
    height: .8rem;
    line-height: .8rem;
  }
  ul.infoBox{
    li{
      width: 7.2rem;
      height: 4.7rem;
      margin:0 auto;
      background: #fff;
      margin-bottom: .48rem;
      border: 1px solid #ddd;
      a{
        color: #000;
        display: block;
        img{
          display: block;
          width: 100%;
          height: 3.25rem;
        }
        p.name{
          font-size: .3rem;
          padding:.2rem 0 0 .15rem;
          margin-bottom: .13rem;
        }
        p.price{
          font-size: .3rem;
          padding:0 0 0 .15rem;
          .empty{
            background: yellow;
          }
          .activityPrice{
            margin-left: .1rem;
          }
          .comment{
            float: right;
            margin-right: .3rem;
            color: #888;
          }
        }
      }
    }
  }
}